.book-create {
  background-color: rgb(24, 169, 218);
}

.book-create form {
  display: flex;
  flex-direction: row;
}

.input {
  width: 500px;
  margin-right: 20px;
  font-size: 18px;
}

.button {
  font-size: 18px;
}